src/**
webview/src/**
tests/**
scripts/**
node_modules/**
!node_modules/
dist/**/*.map
.gitignore
.github/
esbuild.config.mjs
tsconfig.json
package-lock.json
*.vsix
docs/
.vscode/
docs/
tests/
.DS_Store
